
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<!Doctype html>
<html>
<body>
    <h2>Enter Your changed password</h2>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd">




    <h2>Confirm password</h2>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd"><br/><br/>

    <button type="submit" onclick="alert('Password Changed Successfullly!')">Submit</button>

  </body>
</html>


